* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.blue {
    background-color: hsl(205, 33%, 90%);
}

.dark_blue {
    color: hsl(219, 85%, 26%);
}

span {
    font-weight: 800;
    color: black;
    cursor: pointer;
}

.notify_num {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.number {
    background-color:  hsl(219, 85%, 26%);
    color: white;
    padding: .2rem .8rem;
    border-radius: 5px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5effa;
    flex-wrap: nowrap;
    padding: 40px;
}

.box {
    width: 55%;
    height: 80%;
    margin: 20px;
    background-color: hsl(0, 0%, 100%);
    padding: 25px;
    border-radius: 15px;
}

.heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px 0;
}

.user_Info {
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 10px;
}

.user_Info img {
    height: 45px;
    width: 45px;
    margin-right: 15px;
}

.user_Info_comment {
    display: flex;
    align-items: center;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 15px;
    justify-content: space-between;
}
 .nameTime img {
    margin-right: 15px;
 }

.user_Info_comment img {
    height: 45px;
    width: 45px;
}

.nameTime {
    color: rgb(97, 97, 97);
}

.user_Info_comment .nameTime {
    display: flex;
    align-items: center;
}


.clear {
    cursor: pointer;
}
 .clear:hover{
    color: hsl(219, 85%, 26%);
 }

.red_dot {
    background-color: red;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
}

.hidden-info {
    margin-left: 4.8rem;
    border: 1px;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 5px;
    background-color: hsl(205, 33%, 90%);
}

.box p {
    color: rgb(97, 97, 97);
}

.novel {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    flex-wrap: wrap;
}